@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

h3 {
  margin: 20px;
}

img {
  width: 100%;
}



.ImageContainer {
  margin: auto;
  position: absolute;
  left: 10%;
  height: 75%;
  width: 80%;
  box-shadow: 10px 10px 5px #aaaaaa;
}










.button-container2 {
  position: absolute;
  left: 35%;
}





